In [21]:
import pandas as pd
import numpy as np
import re
import my_functions as mf

#define were the data comes from
df = pd.read_excel("https://www.sharkattackfile.net/spreadsheets/GSAF5.xls")

In [3]:
#cleaning the data as we see fit

df = mf.cleaning_tool(df)

In [11]:
#adding new column for time


df["Time_Calssification"] = df["Time"].apply(mf.classify_time)

NameError: name 'datetime' is not defined

,Date,Year,Type,Country,State,Location,Activity,Sex,Age,Injury,Time,Species,Time_Calssification
0,15 Mar 2024,2024.0,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,swim,F,NaN,"Minor injuries to back, abdomen and legs",16h00,Tiger shark,Afternoon
2,02 Mar-2024,2024.0,Unprovoked,USA,Hawaii,"Rainbows, Oahu",swim,F,NaN,Lacerations to left foot,13h30,3' to 4' shark,Afternoon
6,29 Jan-2024,2024.0,Unprovoked,AUSTRALIA,New South Wales,"Elizabeth Bay, Sydney Harbor",swim,F,NaN,Right leg bitten,20h00,Bull shark,Evening
8,09-Jan-2024,2024.0,Unprovoked,AUSTRALIA,South Australia,"Walkers Beach, Elliston",surf,M,NaN,Leg bitten,13h00,White shark,Afternoon
11,29 Dec-2023,2023.0,Unprovoked,MEXICO,Sonora,"Tojahui Beach, Yavaros, Huatabampo",diving,M,NaN,FATAL,13h00,White shark,Afternoon
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6448,25-Nov-1880,1880.0,Unprovoked,AUSTRALIA,Queensland,"Petrie Bight, Brisbane River",swim,M,NaN,"Feet bitten, surgically amputated FATAL",Afternoon,Bull shark,Afternoon
6556,13-May-1868,1868.0,Unprovoked,INDIA,Hoogly River,Ghat,Standing,M,35.0,"FATAL, upper left thigh, groin & buttocks seve...",Before 10h30,Identified as C. gangeticus by Dr. J. Fayrer,NaN
6884,1960s,0.0,Unprovoked,IRAQ,Basrah,Shatt-al-Arab River,swim,M,6.0,Arm severed,Afternoon,Bull shark,Afternoon
6885,1960s,0.0,Unprovoked,IRAQ,Basrah,Shatt-al-Arab River near Abu al Khasib,swim,M,16.0,Right leg lacerated & surgically amputated,Afternoon,Bull shark,Afternoon
6907,1941-1942,0.0,Unprovoked,IRAQ,Basrah,Shatt-el Arab River near a small boat stand,swim,M,NaN,"FATAL, left leg bitten with severe blood loss",Afternoon,Bull shark,Afternoon